.firstSection {
  background: url(./../../../public/images/backgroundGuests3.jpeg);
  background-size: contain;
  /* background-repeat: repeat-x; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.firstSectionTitle {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.firtSectionSubTitle {
  font-display: flex;
  width: 70%;
  text-align: center;
}

.firstSection-text-muted {
  font-size: 20px !important;
}
