.navbarBody {
  background-color: #f8c8d7 !important;
  padding: 0;
}
.navbarExternalContent {
  background: url(./../../../public/images/header.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-origin: content-box;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding: 0 !important;
  background-color: white !important;
}
.navbarExternalContentRow {
  margin-bottom: 12px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.navbarExternalContentColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarRow {
  display: flex;
  align-items: center;
  flex-direction: Row;
  width: 100%;
  margin: 0 !important;
}

.navbarExternalContentTextPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarText {
  margin: 0;
  margin-left: 25px;
}

.navbarIcon {
  font-size: 30px;
  color: #ffb6c1;
}

.navbarItem {
  margin-right: 15px;
  font-size: 18px;
}

.navbarButton {
  margin-right: 20px;
}

html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 300px;
  margin: -300px 0 0;
}
