* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  background-color: white;
  color: black;
}

.column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.containerCard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  margin: 0px 20px 0px 20px;
}

.Introducao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #d880a2;
  margin-top: 20px;
}

.column3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  font-size: 25px;
  font-weight: 900;
  color: #0000008c;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.row2 {
  display: flex;
  flex-direction: row;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 490px;
}

.modalBackground {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWrapper {
  color: #944262 !important;
  text-align: left !important;
  max-width: 400px;
  height: 350px;
  background: #e8e4d9;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px;
  border-color: #944262;
  border-style: solid;
}

.margin-carousel {
  margin-top: 20px;
  margin-bottom: 30px;
}

.descricao-card {
  height: 70px;
  font-weight: 400;
  color: #0000008c;
}

.carousel-button {
  margin-bottom: -26px;
}

.title-card {
  font-weight: 600;
  color: #0000008c;
}
