body {
  /* font-family: "Parisienne", cursive; */
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
.modalSpam {
  font-weight: bold;
}
.modalThanks {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
