.map {
  height: auto;
  display: flex;
}
.map iframe {
  height: 400px;
  width: 100%;
  border: 0;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.mapText {
  display: flex;
  justify-content: center;
}
